@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap::after {
  content: "";
  display: block;
  clear: both;
}

.hidden {
  position: absolute;
  top: -999999px;
  opacity: 0;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  color: #000dbf;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #040000;
}

body {
  overflow-x: hidden;
}

/* Header */
#header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
#header .inner {
  width: 1180px;
  height: 170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .inner h1 a {
  font-size: 25px;
  letter-spacing: 10px;
  color: #000dbf;
}
#header .inner #gnb {
  display: flex;
}
#header .inner #gnb li a {
  display: block;
  padding: 10px 15px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #040000;
  border-radius: 20px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
#header .inner #gnb li:hover a {
  background: #fff;
}
#header .inner #gnb li.on a {
  color: #000dbf;
}

/* Visual */
#visual {
  width: 100%;
  padding-top: 160px;
  position: relative;
}
#visual .inner {
  width: 1180px;
  height: 800px;
  margin: 0 auto;
  position: relative;
}
#visual .inner .boxWrap {
  width: 730px;
  position: absolute;
  top: 150px;
  right: 0px;
  z-index: 10;
}
#visual .inner .boxWrap .lineBox {
  width: 100%;
  padding: 50px;
  margin-bottom: 20px;
  text-align: right;
  justify-content: right;
  position: relative;
}
#visual .inner .boxWrap .lineBox .top {
  width: 0%;
  height: 5px;
  background: #000dbf;
  position: absolute;
  top: 0px;
  left: 0px;
}
#visual .inner .boxWrap .lineBox .right {
  width: 5px;
  height: 0%;
  background: #000dbf;
  position: absolute;
  top: 0px;
  right: 0px;
}
#visual .inner .boxWrap .lineBox .bottom {
  width: 0%;
  height: 5px;
  background: #000dbf;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
#visual .inner .boxWrap .lineBox .left {
  width: 5px;
  height: 0%;
  background: #000dbf;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
#visual .inner .boxWrap .lineBox .content {
  opacity: 0;
}
#visual .inner .boxWrap .lineBox .content h1 {
  font-size: 25px;
  margin-bottom: 20px;
}
#visual .inner .boxWrap .lineBox .content h2 {
  font: bold 50px/1 "Montserrat";
  color: #000dbf;
  margin-bottom: 20px;
}
#visual .inner .boxWrap .lineBox .content p {
  font: bold 20px/1 "Montserrat";
  color: #000dbf;
  margin-bottom: 5px;
}
#visual .inner .boxWrap .btnMore {
  float: right;
  right: 0px;
  display: block;
  width: 170px;
  padding: 20px;
  font: normal 12px/1 "Montserrat";
  color: #fff;
  border-radius: 5px;
  background-color: #000dbf;
  text-align: center;
  transition: 0.4s;
}
#visual .inner .boxWrap .btnMore:hover {
  background-color: #040000;
}
#visual #sliderMain {
  width: 100%;
}
#visual #sliderMain ul {
  width: 100%;
  height: 800px;
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
}
#visual #sliderMain ul li {
  width: 33.3333333333%;
  height: 100%;
  float: left;
  position: relative;
}
#visual #sliderMain ul li[data-index="0"] {
  background: #ededf7;
}
#visual #sliderMain ul li[data-index="0"] div {
  width: 1200px;
  position: absolute;
  top: 0;
  left: 10%;
}
#visual #sliderMain ul li[data-index="0"] div img {
  width: 95%;
  height: 95;
  object-fit: cover;
}
#visual #sliderMain ul li[data-index="1"] {
  background: #f6edf7;
}
#visual #sliderMain ul li[data-index="1"] div {
  width: 1300px;
  position: absolute;
  top: -2%;
  left: 10%;
}
#visual #sliderMain ul li[data-index="1"] div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#visual #sliderMain ul li[data-index="2"] {
  background: #f7efed;
}
#visual #sliderMain ul li[data-index="2"] div {
  width: 1200px;
  position: absolute;
  top: 15%;
  left: 14%;
}
#visual #sliderMain ul li[data-index="2"] div img {
  width: 75%;
  height: 75%;
  object-fit: cover;
}
#visual #sliderMain .btnPrev,
#visual #sliderMain .btnNext {
  position: absolute;
  top: 400px;
  z-index: 10;
  padding: 20px;
  font-size: 15px;
  color: #040000;
  text-align: center;
}
#visual #sliderMain .btnPrev span,
#visual #sliderMain .btnNext span {
  display: block;
  font: normal 12px/1 "Montserrat";
}
#visual #sliderMain .btnPrev {
  left: 10vw;
}
#visual #sliderMain .btnPrev::after {
  margin-top: 5px;
  float: right;
  display: block;
  content: "";
  width: 0%;
  height: 2px;
  background: #000dbf;
  transition: 0.3s;
}
#visual #sliderMain .btnPrev:hover::after {
  width: 100%;
}
#visual #sliderMain .btnNext {
  right: 10vw;
}
#visual #sliderMain .btnNext::after {
  margin-top: 5px;
  float: left;
  display: block;
  content: "";
  width: 0%;
  height: 2px;
  background: #000dbf;
  transition: 0.3s;
}
#visual #sliderMain .btnNext:hover::after {
  width: 100%;
}
#visual #sliderMain .pagination {
  position: absolute;
  bottom: 50px;
  left: 50%;
  translate: translate(50%, 50%);
}
#visual #sliderMain .pagination a {
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #000dbf;
  border-radius: 50%;
  float: left;
  margin: 20px 4px;
}
#visual #sliderMain .pagination a.on {
  background: #000dbf;
}

/* Introduce */
#introduce {
  width: 100%;
  padding: 160px 0px 100px 0px;
  position: relative;
  overflow: hidden;
}
#introduce .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
}
#introduce .inner #subTab {
  margin-right: 140px;
}
#introduce .inner #subTab li {
  width: 170px;
  height: 170px;
  background: #f2f3f8;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: scale(1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
  transition: 0.4s;
}
#introduce .inner #subTab li a {
  display: block;
  color: #000dbf;
  text-align: center;
}
#introduce .inner #subTab li a i {
  color: #000dbf;
  font-size: 50px;
  margin-bottom: 10px;
}
#introduce .inner #subTab li a strong {
  display: block;
}
#introduce .inner #subTab li:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  z-index: 5;
}
#introduce .inner #subTab li.on {
  background: #000dbf;
}
#introduce .inner #subTab li.on i {
  color: #ededf7;
}
#introduce .inner #subTab li.on a {
  color: #fff;
}
#introduce .inner article {
  width: 500px;
  display: none;
}
#introduce .inner article.on {
  display: block;
}
#introduce .inner article h1 {
  font-size: 50px;
  margin-bottom: 40px;
}
#introduce .inner article p {
  margin-bottom: 40px;
}
#introduce .inner article ul li {
  line-height: 30px;
  margin-left: 20px;
}
#introduce .inner article ul li::before {
  content: "";
  transform: translate(-22px, 22px);
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #000dbf;
  background: #000dbf;
}
#introduce .inner article .btnMore {
  display: block;
  width: 170px;
  padding: 20px;
  font: normal 12px/1 "Montserrat";
  color: #fff;
  border-radius: 5px;
  background-color: #000dbf;
  text-align: center;
  transition: 0.4s;
}
#introduce .inner article .btnMore:hover {
  background-color: #040000;
}
#introduce .inner .bgWatch {
  position: absolute;
  top: -100%;
  right: -50%;
  transform: rotate(-40deg);
  z-index: -1;
}

/* Magazine */
#magazine {
  width: 100%;
  height: 890px;
}
#magazine .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#magazine .inner .boxWrap {
  width: 1000px;
  height: 700px;
  position: absolute;
  top: 100px;
  left: -8vw;
  z-index: 10;
}
#magazine .inner .boxWrap .lineBox {
  width: 100%;
  height: 100%;
  border: 5px solid #000dbf;
  text-align: left;
  padding-top: 200px;
}
#magazine .inner .boxWrap .lineBox h1 {
  font-size: 50px;
  margin-left: 8vw;
  margin-bottom: 40px;
}
#magazine .inner .boxWrap .lineBox p {
  width: 580px;
  margin-left: 8vw;
  margin-bottom: 80px;
}
#magazine .inner .boxWrap .lineBox .btnMore {
  display: block;
  width: 170px;
  padding: 20px;
  font: normal 12px/1 "Montserrat";
  color: #fff;
  border-radius: 5px;
  background-color: #000dbf;
  text-align: center;
  transition: 0.4s;
  margin-left: 8vw;
}
#magazine .inner .boxWrap .lineBox .btnMore:hover {
  background-color: #040000;
}
#magazine #sliderSub {
  width: 100%;
  height: 100%;
  position: relative;
}
#magazine #sliderSub .btnBox {
  width: 170px;
  height: 170px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  background: #000dbf;
  padding-top: 65px;
  z-index: 10;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}
#magazine #sliderSub .btnBox .btnNext {
  transform: translateY(50%);
  font-size: 15px;
  color: #fff;
}
#magazine #sliderSub .btnBox .btnNext::after {
  position: absolute;
  left: 50%;
  transform: translateX(-17px);
  margin-top: 5px;
  display: block;
  content: "";
  width: 0%;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}
#magazine #sliderSub .btnBox .btnNext span {
  display: block;
  font: normal 12px/1 "Montserrat";
}
#magazine #sliderSub .btnBox:hover {
  opacity: 1;
}
#magazine #sliderSub .btnBox:hover .btnNext::after {
  width: 20%;
}
#magazine #sliderSub .pic {
  width: 48%;
  height: 890px;
  position: absolute;
  background: #d5d5d5;
  right: 0;
}
#magazine #sliderSub .pic img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 1s;
  filter: grayscale(0.5) brightness(1.2);
}
#magazine #sliderSub .pic img.on {
  opacity: 1;
}

#skill {
  width: 100%;
  padding: 160px 0 50px;
}
#skill .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#skill .inner h1 {
  text-align: center;
  margin-bottom: 100px;
}
#skill .inner h1::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border: 4px solid #000dbf;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -30px;
}
#skill .inner .wrap {
  width: 100%;
  position: relative;
}
#skill .inner .wrap article {
  float: left;
  width: 380px;
  margin-right: 20px;
}
#skill .inner .wrap article i {
  color: #000dbf;
  font-size: 30px;
  margin-bottom: 10px;
}
#skill .inner .wrap article h2 {
  font-size: 15px;
  margin-bottom: 20px;
}
#skill .inner .wrap article h2::after {
  margin-top: 10px;
  display: block;
  content: "";
  width: 0%;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}
#skill .inner .wrap article p {
  font-size: 12px;
  line-height: 1.6;
}
#skill .inner .wrap article:nth-of-type(3n) {
  margin-right: 0px;
  margin-bottom: 100px;
}
#skill .inner .wrap article:hover h2::after {
  width: 100%;
  background: #000dbf;
}

#collection {
  width: 100%;
}
#collection .inner {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#collection .inner div {
  width: 18.1818181818%;
  height: 350px;
  float: left;
  overflow: hidden;
  transition: 0.4s;
}
#collection .inner div:nth-of-type(1) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.5);
  transition: 1s;
}
#collection .inner div:nth-of-type(2) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.5);
  transition: 1s;
}
#collection .inner div:nth-of-type(3) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.5);
  transition: 1s;
}
#collection .inner div:nth-of-type(4) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.5);
  transition: 1s;
}
#collection .inner div:nth-of-type(5) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.5);
  transition: 1s;
}
#collection .inner div:nth-of-type(6) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.5);
  transition: 1s;
}
#collection .inner div:nth-of-type(7) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.5);
  transition: 1s;
}
#collection .inner div:nth-of-type(8) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.5);
  transition: 1s;
}
#collection .inner div:nth-of-type(9) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.5);
  transition: 1s;
}
#collection .inner div:nth-of-type(10) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.5);
  transition: 1s;
}
#collection .inner div:nth-of-type(11) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.5);
  transition: 1s;
}
#collection .inner div:nth-of-type(2) {
  background: #f5f5f5;
}
#collection .inner div:nth-of-type(3) {
  width: 45.4545454545%;
  background: linear-gradient(135deg, #000dbf, rgb(44, 50, 105));
  position: relative;
  cursor: pointer;
  z-index: 5;
}
#collection .inner div:nth-of-type(3):hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
#collection .inner div:nth-of-type(3) article {
  position: absolute;
  left: 50px;
  bottom: 50px;
}
#collection .inner div:nth-of-type(3) article .btnPlus {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -40px;
  transition: 0.3s 0s, transform 0.3s 0.5s;
}
#collection .inner div:nth-of-type(3) article .btnPlus::before {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 15px;
  left: 0;
  transition: 0.3s 0s, transform 0.3s 0.5s;
}
#collection .inner div:nth-of-type(3) article .btnPlus::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 15px;
  left: 0;
  transition: 0.3s 0s, transform 0.3s 0.5s;
}
#collection .inner div:nth-of-type(3) article h1 {
  font-size: 25px;
  color: #fff;
  margin-bottom: 30px;
}
#collection .inner div:nth-of-type(3) article p {
  font-size: 12px;
  color: #fff;
}
#collection .inner div:nth-of-type(4) {
  height: 700px;
  float: right;
}
#collection .inner div:nth-of-type(5) {
  width: 45.4545454545%;
  float: left;
  background: linear-gradient(45deg, rgb(215, 225, 240), #eee);
}
#collection .inner div:nth-of-type(11) {
  width: 45.4545454545%;
  float: right;
  position: relative;
}
#collection .inner div:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}
#collection .inner div:hover article .btnPlus {
  transform: rotate(-180deg);
  top: -60px;
}
#collection .inner div:hover article .btnPlus::before {
  transform: rotate(-90deg);
}
#collection .inner div:hover article .btnPlus::after {
  transform: rotate(0deg);
}
#collection .inner::after {
  content: "";
  display: block;
  clear: both;
}

#quote {
  width: 100%;
  padding: 100px 0px;
}
#quote .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
#quote .inner p {
  font-size: 15px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin-bottom: 50px;
}
#quote .inner strong {
  display: block;
  font-size: 15px;
  text-align: center;
  color: #000dbf;
}
#quote .inner strong span {
  font-size: 12px;
  line-height: 1.6;
  color: #040000;
}

#concept {
  width: 100%;
  height: 780px;
  padding: 110px 0px;
  background-color: #f6f6f6;
  background-image: url(../img/headphone1.png);
  background-repeat: no-repeat;
  background-position: 20%;
}
#concept .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
  align-items: center;
  text-align: right;
}
#concept .inner h1 {
  font-size: 30px;
  color: #000dbf;
  margin-bottom: 50px;
}
#concept .inner p {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin-bottom: 100px;
}
#concept .inner .wrap {
  width: 580px;
  position: absolute;
  right: 0px;
  z-index: 10;
}
#concept .inner .wrap article {
  float: right;
  width: 280px;
  margin-right: 20px;
}
#concept .inner .wrap article:nth-of-type(1), #concept .inner .wrap article:nth-of-type(3) {
  margin-right: 0px;
}
#concept .inner .wrap article h2 {
  font-size: 16px;
  margin-bottom: 20px;
}
#concept .inner .wrap article p {
  font-family: "Open Sans", sans-serif;
}
#concept .inner .wrap article i {
  color: #000dbf;
  font-size: 30px;
  margin-bottom: 10px;
}
#concept .inner .wrap article h2 {
  font-size: 15px;
  margin-bottom: 20px;
}
#concept .inner .wrap article h2::after {
  margin-top: 10px;
  float: right;
  display: block;
  content: "";
  width: 0%;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}
#concept .inner .wrap article:hover h2::after {
  width: 100%;
  background: #000dbf;
}

#banner {
  width: 100%;
  padding: 150px 0;
  background: url(../img/bg.jpg) no-repeat center/cover fixed;
  position: relative;
}
#banner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000dbf;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.7;
}
#banner .inner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#banner .inner h2 {
  color: #fff;
  margin-right: 40px;
}
#banner .inner .btnMore {
  float: right;
  right: 0px;
  display: block;
  width: 170px;
  padding: 20px;
  font: normal 12px/1 "Montserrat";
  color: #fff;
  border-radius: 5px;
  background-color: #000dbf;
  text-align: center;
  transition: 0.4s;
  color: #000dbf;
  background-color: #fff;
}
#banner .inner .btnMore:hover {
  background-color: #040000;
}
#banner .inner .btnMore:hover {
  background-color: #bac5ff;
}

#record {
  width: 100%;
  padding: 50px 0;
  position: relative;
}
#record .inner {
  width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#record .inner article {
  width: 280px;
  padding: 50px;
  text-align: center;
}
#record .inner article strong {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  color: #000dbf;
}
#record .inner article p {
  font-family: "Montserrat", sans-serif;
}

#footer {
  width: 100%;
  background: #000;
  padding-top: 50px;
  position: relative;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner h1 {
  font-size: 20px;
  letter-spacing: 10px;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
  margin-left: 10px;
}
#footer .inner address {
  width: 100%;
  display: flex;
  justify-content: center;
  font-style: normal;
  margin-bottom: 100px;
}
#footer .inner address article {
  width: 380px;
  text-align: center;
}
#footer .inner address article h2 {
  font-size: 12px;
  color: rgb(85, 125, 227);
  margin-bottom: 20px;
}
#footer .inner address article p {
  font-size: 10px;
  color: #bbb;
  line-height: 20px;
}
#footer .inner .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .inner .bottom a {
  display: block;
  width: 240px;
  height: 80px;
  font: normal 12px/80px "Montserrat";
  text-align: center;
  color: #fff;
  display: block;
  background: #000dbf;
}
#footer .inner .bottom p {
  color: #bbb;
  font-size: 10px;
}
#footer .inner .bottom .snsLink {
  width: 240px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#footer .inner .bottom .snsLink li {
  margin-right: 15px;
}
#footer .inner .bottom .snsLink li i {
  font-size: 15px;
  color: #fff;
  opacity: 0.4;
  transition: 0.5s;
}
#footer .inner .bottom .snsLink li:hover i {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
