#contact {
	width: 100%;
	padding: 260px 0 160px 0;
	position: relative;
	background: #ededf7;
	.inner {
		width: 1180px;
		margin: 0 auto;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		fieldset {
			width: 580px;
			table {
				width: 100%;
				margin-top: -30px;
				th {
					padding-top: 40px;
					padding-bottom: 10px;
					font: 14px/1 'Montserrat', sans-serif;
					color: $pointColor;
					text-align: left;
					input[type='submit'] {
						@include btnStyle;
						margin-top: -40px;
						float: right;
						border: none;
						background: $pointColor;
						cursor: pointer;
					}
				}
				tr {
					&:nth-of-type(2),
					&:nth-of-type(4) {
						td {
							&:first-child {
								padding-right: 20px;
							}
						}
					}
					&:nth-of-type(6) {
						td {
							padding-bottom: 40px;
						}
					}
				}
				// label {
				// 	padding-bottom: 20px;
				// }
				input,
				select,
				textarea {
					border: none;
					border-bottom: 2px solid $pointColor;
				}
				input[type='text'] {
					width: 100%;
					height: 30px;
					font: 14px/1 'Open Sans', sans-serif;
					color: $contentColor;
					background: transparent;
					padding-left: 10px;
					&::placeholder {
						color: #999;
					}
				}
				select#purpose {
					width: 100%;
					height: 30px;
					font: 14px/1 'Open Sans', sans-serif;
					color: $contentColor;
					background: transparent;
					padding-left: 5px;
					color: $contentColor;
				}
				textarea#message {
					width: 100%;
					height: 100px;
					resize: none;
					font: 14px/1 'Open Sans', sans-serif;
					color: $contentColor;
					background: transparent;
					padding: 10px;
					margin-bottom: -5px;
					&::placeholder {
						color: #999;
					}
				}
				p {
					position: absolute;
					font-size: 0;
					font: 11px/1 'Open Sans', sans-serif;
					color: hotpink;
					margin-top: 8px;
				}
			}
		}
		.lineBox {
			position: relative;
			width: 480px;
			height: 400px;
			float: right;
			border: 5px solid $pointColor;
			text-align: left;
			padding: 50px;
			margin-left: 20px;
			transition: 0.5s;
			h1 {
				width: 50px;
				font: 50px/1 'Montserrat';
				color: $pointColor;
				margin-bottom: 20px;
			}
			ul {
				li {
					line-height: 30px;
					margin-left: 20px;
					margin-right: 10px;
					&::before {
						content: '';
						transform: translate(-22px, 22px);
						display: block;
						width: 12px;
						height: 12px;
						border-radius: 50%;
						background: $pointColor;
						background: $pointColor;
					}
				}
			}
			&::after {
				content: '';
				position: absolute;
				top: 40%;
				left: 55%;
				width: 400px;
				height: 400px;
				background: url(../img/watch2.png) no-repeat center/cover;
			}
		}
	}
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}

#location {
	width: 100%;
	padding: 160px 0 160px 0;
	position: relative;
	h1 {
		position: relative;
		@include subTitle;
	}
	.inner {
		width: 1180px;
		margin: 0 auto;
		position: relative;
		#map {
			width: 100%;
			height: 500px;
			border: 1px solid #000;
			margin-bottom: 20px;
		}
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		.traffic {
			float: right;
			li {
				a {
					@include btnStyle;
					width: 53px;
					height: 53px;
					padding: 0;
					font-size: 20px;
					line-height: 53px;
					border-radius: 50%;
					border: 1px solid rgba(0, 0, 0, 0);
				}
				&.on a {
					border: 1px solid rgba(0, 0, 0, 0.1);
					background: #f2f3f8;
					color: $pointColor;
				}
			}
		}
		.branch {
			float: left;
			li {
				float: left;
				margin-right: 10px;
				a {
					@include btnStyle;
					background: $pointColor;
					color: #fff;
					border: 1px solid rgba(0, 0, 0, 0);
					i {
						margin-right: 5px;
					}
				}
				&.on a {
					border: 1px solid rgba(0, 0, 0, 0.1);
					background: $pointColor;
					background: #f2f3f8;
					color: $pointColor;
				}
			}
		}
	}
}

/* Media Query - Tablet 구간 */
@media screen and (max-width: $tablet) {
	#contact {
		.inner {
			width: 100%;
			padding: 0vw 5vw;
			fieldset {
				width: 45vw;
			}
			.lineBox {
				width: 35vw;
				h1 {
					width: auto;
					font-size: 35px;
				}
				&::after {
					top: 40%;
					left: 55%;
					width: 30vw;
					height: 30vw;
				}
			}
		}
	}
	#location {
		.inner {
			width: 100%;
			padding: 0vw 5vw;
		}
	}
}

/* Media Query - Mobile 구간 */
@media screen and (max-width: $mobile) {
	#contact {
		padding: 200px 0 160px 0;
		.inner {
			flex-wrap: wrap;
			flex-direction: column-reverse;
			fieldset {
				width: 100%;
				margin: 0 auto;
			}
			.lineBox {
				width: 85vw;
				height: 300px;
				margin: 0 auto;
				margin-bottom: 80px;
				h1 {
					width: auto;
					font-size: 35px;
				}
				&::after {
					top: 50%;
					left: 65%;
					width: 45vw;
					height: 45vw;
				}
			}
		}
	}
	#location {
		.inner {
			.traffic {
				display: none;
				opacity: 0;
			}
			.branch {
				width: 100%;
				position: relative;
				display: flex;
				justify-content: center;
				li {
					margin-right: 2%;
					a {
						width: auto;
					}
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
}
