/* FAQ */
#faq {
	width: 100%;
	padding: 260px 0 160px 0;
	position: relative;
	background: #ededf7;
	.inner {
		width: 1180px;
		height: 400px;
		margin: 0 auto;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.lineBox {
			position: relative;
			width: 480px;
			height: 400px;
			border: 5px solid $pointColor;
			text-align: left;
			padding: 50px;
			margin-right: 20px;
			transition: 0.5s;
			h1 {
				width: 50px;
				font: 50px/1 "Montserrat";
				color: $pointColor;
				margin-bottom: 20px;
			}
			&::after {
				content: "";
				position: absolute;
				top: 13%;
				left: 18%;
				width: 560px;
				height: 560px;
				// top: 3%;
				// left: 25%;
				// width: 500px;
				// height: 500px;
				background: url(../img/pen.png) no-repeat
					center/cover;
			}
		}
		.container {
			max-width: 580px;
			display: flex;
			flex-direction: column;
			.tab {
				position: relative;
				padding: 0px 20px 20px;
				border-top: 2px solid $pointColor;
				overflow: hidden;
				&:last-child {
					border-bottom: 2px solid $pointColor;
				}
				&:hover label::after {
					color: $pointColor;
				}
				input[type="radio"] {
					appearance: none;
					&:checked + label::after {
						color: #fff;
						transform: rotate(135deg);
					}
					&:checked ~ .content {
						max-height: 100vh;
						p {
							color: #fff;
						}
					}
					&:checked ~ label h2 {
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						color: rgba(255, 255, 255, 0.2);
						opacity: 1;
						font-size: 100px;
						background: linear-gradient(
							135deg,
							$pointColor,
							#1b29e9
						);
						justify-content: flex-end;
						padding: 20px;
						transition: 0.2s;
					}
					&:checked ~ label h3 {
						padding: 2px 0;
						color: #fff;
						box-shadow: 0px 5px 15px
							rgba(0, 0, 0, 0.1);
					}
				}
				label {
					display: flex;
					align-items: center;
					cursor: pointer;
					&::after {
						content: "+";
						position: absolute;
						right: 20px;
						font-size: 32px;
						transition: 1s;

						color: rgba(0, 0, 0, 0.1);
					}
				}
				h2 {
					width: 40px;
					height: 40px;
					display: flex;
					justify-content: center;
					align-items: center;
					color: #fff;
					background: $pointColor;
					font-size: 20px;
					margin-right: 20px;
				}
				h3 {
					position: relative;
					font-family: "Montserrat", sans-serif;
					color: $contentColor;
					z-index: 10;
				}
				.content {
					max-height: 0;
					transition: 1s;
					overflow: hidden;
					p {
						position: relative;
						padding: 20px 0;
						font-size: 12px;
						line-height: 1.6;
						color: $contentColor;
						z-index: 10;
					}
				}
			}
		}
	}
}

/* Community */
#community {
	width: 100%;
	padding: 160px 0 160px 0;
	position: relative;
	.inner {
		width: 1180px;
		margin: 0 auto;
		position: relative;
		h1 {
			@include subTitle;
		}
		table {
			width: 100%;
			border-bottom: 2px solid $pointColor;
			border-collapse: collapse; // 테이블에 기본으로 있는 세로선 삭제
			margin-bottom: 50px;
			// thead, tbody는 명시적이라 따로 스타일을 주진 않음
			tr {
				&:nth-of-type(even) {
					background: #f2f3f8;
				}
				&:hover {
					background: lightcyan;
				}
				// 중복 코드는 피하되 미연의 사고를 방지하기 위해 주는 경우는 있다. 스타일 따라 다름
				th {
					// scope를 잡아주었기 때문에 th만 잡아주면 아래 나머지는 자동으로 정렬된다.
					padding: 15px;
					background: $pointColor;
					font-family: "Montserrat", sans-serif;
					color: #fff;
					&:nth-of-type(1) {
						width: 10%;
					}
					&:nth-of-type(3) {
						width: 15%;
					}
					&:nth-of-type(4) {
						width: 15%;
					}
				}
				td {
					padding: 13px;
					// border-bottom: 1px solid #ddd;
					font-family: "Open Sans", sans-serif;
					font-size: 14px;
					color: $contentColor;
					text-align: center;
					&:nth-of-type(2) {
						text-align: left;
						a {
							color: $contentColor;
							line-height: 1.4;
						}
					}
				}
			}
		}
		.pagination {
			width: 100%;
			text-align: center;
			display: flex;
			justify-content: center;
			&::after {
				content: "";
				display: block;
				clear: both;
			}
			.prev,
			.next {
				display: block;
				width: 30px;
				height: 30px;
				color: $pointColor;
				font-size: 12px;
				line-height: 30px;
				text-align: center;
			}
			.numbers {
				display: inline-block;
				text-align: center;
				font-size: 0;
				a {
					display: inline-block;
					width: 30px;
					height: 30px;
					border-radius: 50%;
					font: 11px/30px "Montserrat", sans-serif;
					color: $contentColor;
					margin: 0 5px;
					&:hover {
						background: $pointColor;
						color: #fff;
						&.on {
							color: $pointColor;
						}
					}
					&.on {
						background: #f2f3f8;
					}
				}
			}
		}
	}
}
